html {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 8px;
}

.separator {
    border-style: solid;
    border-top: 2px;
    border-color: #7b458f;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.nav-link:hover {
    color: #7b458f;
}