.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    flex-wrap: wrap;
}

.logo-container {
    display: inline-block;
    border-style: solid;
    justify-content: center;
}

.nav-container {
    display: inline-block;
    border-style: solid;
    justify-content: center;
}

@media (max-width: 7688) {
    .header-container {
        justify-content: center;
    }
}
html{
    background-color: black;
    
}